<?xml version="1.0" encoding="utf-8" ?>
<!-- This file is case sensitive -->
<Settings>
  <Database>
    <ConnectionString>data source=HOSTNAME;initial catalog=DATABASE;user id=USERNAME;password=PASSWORD;Trusted_Connection=false</ConnectionString>    
  </Database>
  <Other>
    <InputDirectory></InputDirectory>
    <OutputDirectory></OutputDirectory>
  </Other>
</Settings>
